.row
  .col-md-12
    .header
      h2
        = t 'root.header'
    .search
      input type='text' placeholder=t('root.search-placeholder')
      button
        i.fa.fa-search
      .pull-right
        a.btn.btn-primary href='/reviews'
          = t('shared.view-all')
.row.result-row
  .col-md-12
    .results
      .well
        = t 'root.results-placeholder'
