#review_email
  width: 100%

#review_comment
  width: 100%
  height: 200px

.movie .panel-body
  padding-top: 0px

.reviews.row
  margin-top: 15px

.reviews.show form
  display: inline-block

.reviews.new
  h2, .submit
    text-align: center
  #review_email,
  textarea,
  .input.raty
    padding: 5px
