.root.index
  tbody tr
    transition: background-color .2s
  tbody tr:hover
    background-color: rgba(0, 0, 0, .2)
    cursor: pointer
  .result-row
    margin-top: 15px
  .search
    button
      position: relative
      left: -30px
      background: none
      border: none
    button:focus
      outline: none
    input
      padding: 5px
      width: 50%
