.panel.movie
  .panel-heading
    h3
      = "#{@meta.Title} #{@meta.Released}"
  .panel-body
    .genre
      = "#{t('shared.genre')}: #{@meta.Genre}"
    .release-date
      = "#{t('shared.released')}: #{@meta.Released}"
    .director
      = "#{t('shared.director')}: #{@meta.Director}"
    .plot
      = "#{t('shared.plot')}: #{@meta.Plot}"
