- no_title ||= false
.review
  .raty.disabled data-score=review.rating
  blockquote
    - unless no_title
      p
        = review.movie_title
    p
      = review.comment
    small
      = "#{review.email} #{review.created_at}"
