.row
  .col-md-12
    h2
      = t 'reviews.all-reviews'
.row
  .col-md-12
    a.btn.btn-primary href='/'
      = t 'shared.home'
.row.reviews
  .col-md-12
    - if @reviews.empty?
      .well
        = t 'reviews.no-index-reviews'
    - else
      - @reviews.each do |review|
        = render partial: 'review', locals: {review: review}
