.row
  .col-md-12
    h2
      = @review.movie_title params['id']
= render partial: 'errors'
.row
  .col-md-12
    = form_for @review, url: {action: 'create'} do |f|
      input name='review[imdbid]' value=@imdbid hidden=true
      .row
        .col-md-4
          = f.label :email
        .col-md-8
          = f.text_field :email, placeholder: 'foo@bar.com'
      .row
        .col-md-4
          = f.label :rating
        .col-md-8
          = f.text_field :rating, hidden: true
          .raty.input
      .row
        .col-md-4
          = f.label :comment
        .col-md-8
          = f.text_area :comment, placeholder: t('shared.optional')
      .row
        .col-md-12.submit
          button.btn.btn-primary
            = t 'shared.submit'
