= render partial: 'movie_info'
.row
  .col-md-12
    a.btn.btn-primary href='/'
      = t 'shared.home'
    form action='/reviews/new'
      input name='id' value=params['id'] hidden=true
      button.btn.btn-primary
        = t 'reviews.add-button'
.row.reviews
  .col-md-12
    - if @reviews.empty?
      .well
        = t 'reviews.no-reviews'
    - else
      - @reviews.each do |review|
        = render partial: 'review', locals: {review: review, no_title: true}
