doctype html
html
  head
    title
      | R&R
  = render partial: 'layouts/templates'
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = render partial: 'layouts/cdn'
  body class="#{params['controller']} #{params['action']}"
    .container
      = yield
